/* custom css here in grid.css top side */
ul.contact-socials i,.see-more-btn {
    color: #8abed7!important;
}
ul.contact-socials i:hover,.see-more-btn:hover {
    color: hsl(199, 64%, 60%)!important;
}

.product-card {
    background-color: #f5f5f582!important;
}
.product-card-img img {
    padding:10px;
    object-position: 50% 50%;
}
.homepage-banner video{
    width: 100%;
}
.homepage-banner {
    position: relative;
}

.banner-overlay {
    background: #128798b5;
    height: 99.5%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1; /* Adjust the z-index to position the overlay behind the video */
}

.mega-content {
    background-color: #ffffffc0!important;
}

.banner-content h1 {
    position: absolute;
    top: 170px;
    color: white;
    z-index: 1;
    left: 80px;
    font-size: 80px;
    text-shadow: 18px 21px #000000b0;
}
.banner-content .btn-shop-now{
    position: absolute;
    color: white;
    top: 50%;
    left: 80px;
    background-color: #8abed7;
    z-index: 1;
    font-size: 14px;
    padding: 20px;
    border: none;
    border-radius:  10%;
}

select{
    color: #4c4c4c;
    font-family: "CostarBrownLight",sans-serif;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    padding: 5px 12px 7px 15px;
    font-size: 1rem;
    position: relative;
    display: inline-block;
    cursor: pointer;
    max-height: 35px;
}
select:hover{
    color: #fff;
    background-color:#8abed7;
}
select:hover>option{
    color: #000;
    background-color:#fff;
}
















/* grid css down here */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.row-revere {
    flex-direction: row-reverse;
}

[class*="col-"] {
    padding: 0 15px;
    margin-bottom: 20px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* medium screen */

@media only screen and (max-width: 1280px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}

/* small screen */

@media only screen and (max-width: 750px) {
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }
}
